{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="#">
{% endblock 'head' %}
{% block 'titulo' %}Check Data{% endblock %}

{% block 'body' %}
    <h1> Todos os usuarios </h1>
    <table border="1">
        <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> CPF </th>
                <th> Age </th>
                <th> Email </th>
            </tr>
        </thead>
            {% for pessoa in pessoas%}
                <tr>
                    <th> {{pessoa.firstName}}</th>
                    <th> {{pessoa.lastName}} </th>
                    <th> {{pessoa.cpf}} </th>
                    <th> {{pessoa.age}} </th>
                    <th> {{pessoa.email}} </th>
                </tr>
            {% endfor %}
            <button> <a href=" {% url 'register_user' %}">Criar novo contato </a></button>

            <button> <a href=" {% url 'menu' %}">Voltar ao menu </a></button>
    </table>
{% endblock  %}
