{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
{% block 'head' %}
<link rel="stylesheet" href="#">
{% endblock 'head' %}

{% block 'titulo' %}Menu{% endblock 'titulo' %}

{% block 'body' %}
   
    <h1> Select one of the options bellow </h1>
    <h2> Click <a href=" {% url 'check_user' %}" >here</a> to check the registered users </h2>
    <h2> Click <a href=" {% url 'register_user' %}">here</a> to register a new user </h2>
    {% comment %} <h2> Click <a href="update_user.html">here</a> to update the information about an user </h2>
    <h2> Click <a href="delete_user.html">here</a> to delete a user </h2> {% endcomment %}

{% endblock %}